---
import "../styles/list-page.css"
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import Hero from "../components/Hero.astro";
import FeaturedPosts from "../components/FeaturedPosts.astro";
import About from "../components/About.astro";
import Navbar from "../components/Navbar.astro";
import Footer from "../components/Footer.astro";
import siteConfig from "../custom/site-config";
---

<html lang="en" class="scroll-smooth">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{siteConfig.siteName}</title>
	</head>
	<Layout />
		<div class="fixed inset-0 bg-white dark:bg-gray-900 z-50 flex items-center justify-center page-loader">
			<div class="text-2xl font-bold text-gray-800 dark:text-white loader-text">Loading...</div>
		</div>
		
		<div class="page-content fade-in">
			<Header />
			<Navbar />
			<div class="max-w-3xl mx-auto px-4">
				<Hero />
				<FeaturedPosts />
				<About />
			</div>
		</div>
		<Footer />
	</Layout>
</html>