---
import AboutLayout from "../custom/AboutLayout.astro"
---

<section class="mt-12 bg-gray-50 dark:bg-gray-800 rounded-xl p-6">
  <h2 class="text-2xl font-bold text-gray-900 dark:text-white mb-4">About Me</h2>

  <AboutLayout />
</section>